<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/media/css/form_style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

        <title>MatchPC</title>
    </head>

    <body>
        <header>
            {% include "menu.html" %}
        </header>
        
        <div class="container">
            <form action="{% url 'match_query' %}">
                <div id="text_header">
                    <h1>MatchPC</h1>
                    <h2>Compre inteligentemente en base a sus necesidades</h2>

                    <br>
                    <div id="input_data">
                        <select name="txtNivel" id="txtNivel">
                            <option value="" disabled selected>Nivel de estudios</option>
                            <option value="diversificado">Diversificado</option>
                            <option value="universitario">Universitario</option>
                            <option value="Profesional">Profesional</option>
                        </select>
    
                        <select name="txtAmbito" id="txtAmbito">
                            <option value="" disabled selected>Ámbito de uso</option>
                            <option value="Ing. en Computacion">Ingeniería en Computación</option>
                            <option value="Ing. Industrial">Ingeniería Industrial</option>
                            <option value="Diseño Gráfico">Diseño Gráfico</option>
                            <option value="Mecanica">Mecanica</option>
                        </select>
    
                        <input type="submit" value="Enviar">
                    </div>
                </div>
            </form>
            
            <br><br><br>
            <form method="POST">
                {% csrf_token %}

                {% if query %}

                <div class="pc_container">
                    <img id="round_img" src="/media/compu_img/{{img_name}}.png">
                    <div id="pc_data">
                        <h2>{{modelo}}</h2>
                        <p>Tipo: {{tipo}}</p>
                        <p>Marca: {{marca}}</p>
                        <p>Modelo: {{modelo}}</p>
                        <p>CPU: {{cpu}}</p>
                        <p>Tipo de RAM: {{tipo_ram}}</p>
                        <p>Capacidad RAM: {{capacidad_ram}}</p>
                        <p>GPU marca: {{gpu_marca}}</p>
                        <p>GPU modelo: {{gpu_modelo}}</p>
                    </div>
                </div>
                <br>

                {% endif %}

            </form>      
        </div>
        
        <br><br>

        <footer>
            <p>© Untitled. Todos los derechos reservados.</p>
        </footer>
    </body>
</html>