<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/media/css/nav_style.css">
    </head>

    <div class="topnav" id="myTopnav">
        <a href="{% url 'index' %}" class="active">MatchPC</a>
        <div class="dropdown">
          <button class="dropbtn">   
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="{% url 'match' %}">Recomendaciones</a>
            <a href="{% url 'aportar' %}">Aportar</a>
            <a href="{% url 'about' %}">Conocer más</a>
          </div>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>

      <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
      </script>
</html>